.main {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-height: 650px) {
    .main {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-device-height: 650px) {
    .main {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.front {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    background-color: #171717;
    width: 65%;
    border-radius: 15px;
    padding: 20px;
}

@media (max-width: 992px) {
    .front {
        display: block;
    }
}

@media (max-device-width: 992px) {
    .front {
        display: block;
    }
}

@media (max-width: 768px) {
    .front {
        width: 100%;
    }
}

@media (max-device-width: 768px) {
    .front {
        width: 100%;
    }
}

@media (max-height: 650px) {
    .front {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-device-height: 650px) {
    .front {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.log_in_panel {
    position: relative;
    padding: 15px;
}

@media (max-width: 992px) {
    .log_in_panel {
        display: block;
        padding: 0;
        padding-bottom: 15px;
    }
}

@media (max-device-width: 992px) {
    .log_in_panel {
        display: block;
        padding: 0;
        padding-bottom: 15px;
    }
}

@media (max-height: 650px) {
    .log_in_panel {
        padding-inline: 20px;
    }
}

@media (max-device-height: 650px) {
    .log_in_panel {
        padding-inline: 20px;
    }
}

.log_in_header {
    display: flex;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
}

.logo {
    content: url(./img/logo.svg);
    margin-right: 0.9vw;
    width: 5vw;
}

@media (min-width: 357px) and (max-width: 992px) {
    .logo {
        width: 70px;
    }
}

@media (min-device-width: 357px) and (max-device-width: 992px) {
    .logo {
        width: 70px;
    }
}

@media (max-width: 356px) {
    .logo {
        width: 19.5vw;
    }
}

@media (max-device-width: 356px) {
    .logo {
        width: 19.5vw;
    }
}

.logo_text {
    width: fit-content;
    font-size: 5vw;
    color: #FFFFFF;
    margin-top: 4px;
}

@media (min-width: 357px) and (max-width: 992px) {
    .logo_text {
        font-size: 65px;
    }
}

@media (min-device-width: 357px) and (max-device-width: 992px) {
    .logo_text {
        font-size: 65px;
    }
}

@media (max-width: 356px) {
    .logo_text {
        font-size: 18vw;
    }
}

@media (max-device-width: 356px) {
    .logo_text {
        font-size: 18vw;
    }
}

.error {
    position: relative;
    display: grid;
    grid-template-columns: 95% 5%;
    background-color: rgb(214, 180, 180);
    height: fit-content;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 10px;
}

.error_text_area {
    overflow-wrap: break-word;
}

.error_header {
    color: red;
    font-size: 20px;
    font-weight: 600;
    padding-right: 5px;
}

.error_text {
    font-size: 20px;
    color: rgb(128, 0, 0);
}

.error_close_area {
    position: relative;
}

.error_close_sign {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 10px;
    max-height: 10px;
    content: url(./img/cross.png);
}

.email_input {
    width: calc(100% - 15px);
    border-radius: 10px;
    border: 1px solid #565656;
    background: rgba(217, 217, 217, 0.00);
    color: white;
    padding-left: 10px;
    padding-right: 3px;
    padding-block: 12px;
    font-size: 1.171875rem;
}

.email_input::placeholder {
    color: #AAA;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.password_input {
    width: calc(100% - 15px);
    border-radius: 10px;
    border: 1px solid #565656;
    background: #2D313C;
    color: white;
    padding-left: 10px;
    padding-right: 3px;
    padding-block: 12px;
    font-size: 1.171875rem;
}

.password_input::placeholder {
    color: #AAA;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.password_input::-ms-reveal {
    filter: invert(100%);
}

.log_in_button {
    cursor: pointer;
    width: calc(100% - 12px);
    border-radius: 10px;
    border: 1px solid #565656;
    background: rgba(10, 93, 255, 0.49);
    padding-inline: 5px;
    padding-block: 12px;
    font-size: 1.171875rem;
    word-wrap: break-word;
}

.log_in_button_text {
    user-select: none;
    color: #AAA;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.15px;
    font-size: 1.171875rem;
}

.lost_password_link {
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    color: #26A4FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.lost_password_link:hover {
    text-decoration: underline;
}

.line {
    background-color: white;
}

@media (max-width: 992px) {
    .line {
        width: 100%;
        height: 1px;
    }
}

@media (max-device-width: 992px) {
    .line {
        width: 100%;
        height: 1px;
    }
}

.sign_in_panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .sign_in_panel {
        padding-top: 15px;
    }
}

@media (max-device-width: 992px) {
    .sign_in_panel {
        padding-top: 15px;
    }
}

.sign_in_cont {
    position: relative;
}

.sign_in_header {
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
}

.sign_in_button {
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    border: 1px solid #565656;
    background: rgba(217, 217, 217, 0.00);
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 7px;
}

.google_img {
    content: url(./img/google.svg);
}

.sign_in_text {
    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
}

.parent_access {
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    border: 1px solid #565656;
    background: #484646;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 7px;
}

.parent_access_text {
    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.extra {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 32vw;
}

@media (max-width: 992px) {
    .extra {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 67vw;
    }
}

@media (max-device-width: 992px) {
    .extra {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 67vw;
    }
}

.lang {
    cursor: pointer;
    position: relative;
    display: flex;
}

.current_lang {
    display: flex;
}

.current_lang_name {
    width: fit-content;
    text-align: right;
    color: #26A4FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.arrow_img {
    content: url(./img/arrow.svg);
}

.lang_menu {
    position: absolute;
    top: 22px;
    left: -45px;
    background-color: rgba(23, 23, 23, 1);
    border: 1px solid rgba(86, 86, 86, 1);
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    max-height: 180px;
    overflow: hidden;
    overflow-y: scroll;
}

.lang_menu::-webkit-scrollbar {
    display: none;
}

.lang_name {
    color: #AAAAAA;
    padding-block: 5px;
    padding-inline: 20px;
    margin-block: 10px;
    white-space: nowrap;
}

.lang_name:hover {
    background-color: rgba(10, 93, 255, 0.49);
}

.cookies {
    cursor: pointer;
    display: flex;
}

.cookies_text {
    color: #26A4FF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.question_img {
    content: url(./img/question.svg);
    width: 18px;
}